<div class="wrapper gap-1 column container">
  <img [src]="product.image" alt="Product Thumbnail" />
  <h2>{{ product.name }}</h2>

  <div class="row subcontainer gap-05">
    <span class="price-label"> Price: </span>
    <span class="price"> {{ product.price }} </span>
  </div>

  <p-rating
    [(ngModel)]="product.price"
    [readonly]="true"
    iconCancelClass="hidden"
  />

  <div class="row gap-05">
    <button
      type="button"
      pButton
      icon="pi pi-pencil"
      label="Edit"
      (click)="confirmDeletion()"
      #editButton
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-trash"
      label="Delete"
      (click)="confirmDelete()"
      #deleteButton
      class="p-button-danger"
    ></button>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
